
body {
margin: 0;
padding: 0;
height: 100vh;
display: flex; 
justify-content: center;
align-items: center; 
background: linear-gradient(135deg, #232526, #414345); 
font-family: 'Arial', sans-serif;
}

.game-container {
text-align: center;}